body{background-color:  #E7E7FF; color:  #1D1D4E;width: 800px; margin-left: 600px;;}
h1{text-align: center;}
.balkep{width:200px;}
.jobbkep{width: 400px;float: right;margin-left:}
.table,td,tr{border: 1px solid;}
.tbg{background-color: black; color: white; text-align: center;}
.tj{text-align: right; font-weight: 1000;}
.tb{ text-align: left;}
.asd{padding: 1px;}
.kep{border:1px solid;border-color: #1D1D4E}
p{text-align: center;}

