
table{
    border: 2px black;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    border-style: groove;
    width: 50%;
}
td,th{
    border: solid 1px;

}
th{
    text-align: left;
}
td{
    padding-left: 5px; 
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    /* border: 15px 10px 5px 3px brown; */
   /* border-color: brown;
    border-top: 15px;
    border-right: 10px;
    border-bottom: 5px;
    border-left: 3px; */
}
/* body{
    background-color: brown;

} */
#kiemel{
    background-color:blue ;
    visibility: collapse;

}
.bekezdesek{
    color:blue ;


}
.fontos{
    font-weight: bold;
    font-style: italic;
    color: green;
}



