body{
	margin: 0px;
	color:#333333;
	font-family:Verdana;
}
 h1{
	 color:#666666;
	 font-size:32px;
 }
 h2{
	 color:#999999;
	 font-size:16px;
 }
 h3{
	 color:#CC6600;
	 font-size:16px;
 }

#outer-wrapper{
	position: relative;
	width: 680px;
	margin:auto;
	padding:10px;
	
}
#header{
	margin: 5px;
	border: 1px;
	border-style: solid;
	text-align: center;
}
#main-wrapper{
	width: 430px;
	float: left;
}        

#sidebar-wrapper{
	width: 220px;
	float:right;
}
#sidebar-wrapper img{
	padding-top:16px;
}

 